@import 'bootstrap/dist/css/bootstrap.min.css';
/* @tailwind base; */
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  background-image: linear-gradient(to bottom, #ffffff52, #ffffff6b),
    url("https://i.ibb.co/sgrfrCk/bghd.jpg");
  width: 5px;
}
::-webkit-scrollbar-thumb {
  background-image: linear-gradient(to bottom, #1e262cb6, #1e262cb6),
    url("https://i.ibb.co/sgrfrCk/bghd.jpg");
  border-radius: 3px;
}
/* All Number Input Default Button Hidden */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

